# music
config/mpd/database
config/mpd/state
config/mpd/sticker.sql
config/ncmpcpp/error.log

# games
config/StardewValley
config/unity3d

# 1Password
config/1Password
NativeMessagingHosts

# work things
config/Slack
config/gh/hosts.yml

# misc
config/dconf
